.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 100px) and (max-width: 520px) {
  .startup-project-text img {
    max-width: 100%;
    width: auto;
    height: 60px;
    object-fit: cover;
    border: 1px solid #555;
  }
}

@media screen and (min-width: 520px) and (max-width: 860px) {
  .startup-project-text img {
    max-width: 100%;
    width: auto;
    height: 80px;
    object-fit: cover;
    border: 1px solid #555;
  }
}

@media screen and (min-width: 860px) and (max-width: 1260px) {
  .startup-project-text img {
    max-width: 100%;
    width: auto;
    height: 120px;
    object-fit: cover;
    border: 1px solid #555;
  }
}

@media screen and (min-width: 1260px) {
  .startup-project-text img {
    max-width: 100%;
    width: auto;
    height: 200px;
    object-fit: cover;
    border: 1px solid #555;
  }
}

.startup-project-text {
  text-align: center;
  font-weight: bold;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem 1rem;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
